/*
======
Variables
======
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --midnight: #6f66e7;
  --superblue: #afabe4;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}

.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

/*
======
Global Styles
======
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--clr-bcg);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

/*
======
Buttons
======
*/
.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--clr-font);
  border: 2px solid var(--clr-primary);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--Transition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;

  border-radius: var(--mainBorderRadius);
  border-color: transparent;
}

.btn:hover {
  background: var(--clr-bcg);
  color: var(--clr-font);
}

.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}

.btn-white:hover {
  background: var(--mainWhite);
  color: var(--clr-primary);
}

.btn-primary {
  background: var(--clr-primary);
  color: var(--clr-font);
  border-color: transparent;
}

.btn-primary:hover {
  background: var(--clr-primary);
  color: black;
}

.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}

.btn-details {
  padding: 0.25rem 0.4rem;
}

.btn-details:hover {
  background: var(--offWhite);
  border-color: var(--primaryLightColor);
}